@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "LATO";
   src: url("../fonts/Lato-Regular.ttf");
 }

 html {
  scroll-behavior: smooth;
  height: 100%;
 }

body {
  font-family: "LATO", sans-serif;
  height: 100%;
}

#__nuxt{
  height: 100%;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 20px;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-left {
  animation: fade-left 1s ease-in-out;
}

.active.fade-top {
  animation: fade-top 1s ease-in-out;
}

.home-header {
  height: calc(100vh - 480px);
}

.template-header {
  height: calc(100vh - 100px);
}

.nav-horizontal {
  height: calc(100vh - 73px);
}

.video-panel {
  height: calc(100vh - 100px);
}

.h-pricing-card {
  height: calc(100vh - 400px);
}

.mt-pricing-card {
  margin-top: 40em;
}

@layer components {
  .btn-primary {
    @apply rounded-md bg-primary shadow-sm px-5 py-2 text-white hover:text-black hover:bg-white font-medium hover:ring-2 ring-primary
    disabled:bg-primary/20 disabled:text-white disabled:cursor-default disabled:hover:bg-primary/20 disabled:hover:ring-0
  }

  .btn-third {
    @apply rounded-md bg-third shadow-sm px-5 py-2 text-white hover:text-black hover:bg-white font-medium hover:ring-2 ring-third
    disabled:bg-third/20 disabled:text-gray-500 disabled:cursor-default disabled:hover:bg-third/20 disabled:hover:ring-0
  }

  .btn-graylite {
    @apply rounded-md bg-graylite shadow-sm px-5 py-2 text-white hover:text-black hover:bg-white font-medium hover:ring-2 ring-graylite
    disabled:bg-graylite/20 disabled:text-white disabled:cursor-default disabled:hover:bg-graylite/20 disabled:hover:ring-0
  }

  .btn-success {
    @apply rounded-md bg-success shadow-sm px-5 py-2 text-white hover:text-black hover:bg-white font-medium hover:ring-2 ring-success
    disabled:bg-success/20 disabled:text-white disabled:cursor-default disabled:hover:bg-success/20 disabled:hover:ring-0
  }

  .pricing-card {
    @apply flex flex-col border rounded-lg shadow-xl h-pricing-card border-whiteusite text-grayusite mt-8 lg:mt-0 lg:w-1/5 w-3/4
  }

  .icon-video {
    @apply bg-gray-400 border-2 border-transparent rounded-full cursor-pointer hover:border-primary relative
  } 
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.z-1 {
  z-index: -1;
}

.origin-0 {
  transform-origin: 0%;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label,
select:focus ~ label,
select:not([value='']):valid ~ label {
  /* @apply transform; scale-75; -translate-y-6; */
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-scale-x: 0.75;
  --tw-scale-y: 0.75;
  --tw-translate-y: -1.8rem;
}

input:focus ~ label,
select:focus ~ label {
  /* @apply text-black; left-0; */
  --tw-text-opacity: 1;
  left: 0px;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  cursor: pointer;
  margin-right: 0.5em;
  accent-color: #E71D36;
}

.carousel-item:hover div[role="overlay"] {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
}