@page
@model AccessDeniedModel
@{
    ViewData["Title"] = Ressources.AccessDenied_title;
}

<div class="flex flex-column align-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>

    <div class="border border-primary w-1_3"></div>

    <h3>@Ressources.AccessDenied_message</h3>
</div>