@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = Ressources.ForgotPasswordConfirmation_Title;
}
<div class="flex flex-column justify-center align-center w-full">
    <h1>@ViewData["Title"]</h1>
    <p>
        @Ressources.ForgotPasswordConfirmation_Message
    </p>
</div>