@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = @Ressources.ForgotPassword_Title;
}

<div class="flex flex-column justify-center align-center w-full">
    <h1>@ViewData["Title"]</h1>
    <h2>@Ressources.ForgotPassword_Title2</h2>

    <form method="post" class="w-1_5 mt-5">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="form mb-3">
            <input asp-for="Input.Email" autocomplete="username" aria-required="true"
                   placeholder=" " />
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email"></span>
        </div>
        <button type="submit" class="w-full btn-primary">@Ressources.ForgotPassword_BtnResetPassword</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
