@page
@model LockoutModel
@{
    ViewData["Title"] = Ressources.Lockout_Title;
}

<div class="flex flex-column justify-center align-center w-full">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Ressources.Lockout_Message</p>
</div>
