@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Ressources.ResetPasswordConfirmation_Title;
}
<div class="flex flex-column align-center w-full">
    <h1>@ViewData["Title"]</h1>
    <p>
        @Ressources.ResetPasswordConfirmation_Message1
        <a class="text-none" asp-page="./Login">
            @Ressources.ResetPasswordConfirmation_Message2
        </a>.
    </p>
</div>
